<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <ul class="list-unstyled nav navbar-nav navbar-default">
    <li><a [routerLink]="['']">Home</a></li>
    <li><a [routerLink]="['login']">Login</a></li>
    <li><a [routerLink]="['filter']">Filter Demo</a></li>
    <li><a [routerLink]="['obs-demo']">Observable Demo</a></li>
    <li><a [routerLink]="['product']">Product</a></li>
  </ul>

</div>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- <div class="container">
  <app-obs-demo></app-obs-demo>
</div> -->

<!-- <div class="container">
  <app-signup></app-signup>
</div> -->


<!-- <div class="container">
  <app-filter></app-filter>
</div> -->


Counter in App Comp :: {{dataService.counter}}
<button (click)="increase()">Increase</button>

<div>
  <app-user xyz="XYZ" [users]="users" abc="'Some Value'" 
      (childEvent)="customEventHandler($event)">
    <header>Some header Info</header>
    <main class="my-class">Main Contents</main>
    <footer>Footer Info</footer>
  </app-user>
</div>


<!-- ng generate component user
    ng g c user
-->