<!-- Data Projection -->

Counter in User Comp :: {{dataService.counter}}
<button (click)="increase()">Increase</button>


<ng-content select="header"></ng-content>
<ng-content select=".my-class"></ng-content>

<input type="text" (keyup)="onKeyUp(childCtrl.value)" #childCtrl>

<h2>Data from Parent : {{ title }}</h2>

<div class="container">
<ul class="list-unstyled">
<li class="well" *ngFor="let user of users; index as i, even as isEven, odd as isOdd, first as isFirst, last as isLast">
    <div class="row">
        <div class="col-md-2 col-sm-2 xs-hidden">
            <!-- {{i}} Is this Even ? {{ isEven }}
            isFirst ? {{ isFirst }}
            isLast ? {{ isLast }} -->
        <hr>
                <img [src]="user.img" alt="">
                <button (click)="moreInfo(user)" class="btn btn-info btn-sm">
                    More Info
                </button>
        </div>
        <div class="col-md-10 col-sm-10">
                <h1 appHighlight 
                    [defaultColor]="'yellow'"> {{ user.firstName | uppercase }} {{ user.lastName | titlecase }}</h1>
               
                <!-- <ng-template [ngIf]="condition"></ng-template> -->
                <!-- <p  [ngStyle]="myStyle" 
                    *ngIf="user.isWorking;else ElseTemplate"> Income  : {{ user.income }}</p> -->
                
                    <p  [ngStyle]="myStyle" 
                        *appUnless="!user.isWorking"> 
                    Income  : {{ user.income | currency:'CAD':'symbol':'4.0'  }}
                    </p>

                <p [ngClass]="allClasses">
                    Date OF Birth : <span [innerHTML]="user.dob | date : 'MM/dd/yyyy'"> </span></p>
                <p>Contact Number : {{user.mobile | nationalCode : '80' }}</p>
                <em class=pull-rigth>
                    Total Votes : {{ user.vote }}
                    <!-- PB + EB -->
                    <input type="number" 
                        [value]="user.vote"
                        (change)="user.vote=$event.target.value">
                    <!-- ngModel -->
                    <input type="number" [(ngModel)]="user.vote">
                </em>
        
          </div>
    </div>
    
    <ng-template #ElseTemplate>
        {{user.firstName }} is not working now!!!
    </ng-template>

    <app-comment-form [comments]="user.comments" ></app-comment-form>

</li>
</ul>
</div>

<div [ngSwitch]="tab">
    <div *ngSwitchCase="'1'">Output 1</div>
    <div *ngSwitchCase="'2'">Output 2</div>
    <div *ngSwitchCase="'3'">Output 3</div>
    <div *ngSwitchCase="'4'">Output 4</div>
    <div *ngSwitchDefault>Default Case</div>
</div>

<ng-content select ="footer"></ng-content>

<!-- ng g d <DIRECTIVE_NAME> -->

    <!-- {{users | json}} -->